<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria</title>
</head>
<body>
    <h1>Bem-vindo à Pizzaria!</h1>
    <h2>Cardápios:</h2>
    <ul>
        <li><a href="/pizzas/tradicionais/">Pizzas Tradicionais</a></li>
        <li><a href="/pizzas/especiais/">Pizzas Especiais</a></li>
        <li><a href="/sanduiches/tradicionais/">Sanduíches Tradicionais</a></li>
        <li><a href="/sanduiches/artesanais/">Sanduíches Artesanais</a></li>
    </ul>
</body>
</html>